body{
	margin: 0;
	padding: 0;
	background-color: #5F4B8B ;
}


@media only screen and (min-width: 1024px) {  
 
.logo{
	position: absolute;
	height: 15rem;
	width: calc(115% - 20rem);
	margin-top: 11rem;
	z-index: 1;


}

.logo__slogan{
	font-family: 'Poiret One', cursive;
	position: relative;
	font-size: 1.6rem;
	color:#cccc;
	margin-left: 40rem;
	margin-top: 24.85rem;
	z-index: 5;

}

.admira{
	color:#DF7401;
}

} 


@media only screen and (min-width: 768px) and (max-width: 1023px) {  
  
  .logo{

	height: 16rem;
	width: calc(122% - 20rem);
	margin-top: 12rem;
	z-index: 1;


}

.logo__slogan{
	font-family: 'Poiret One', cursive;
	font-size: 1.6rem;
	color:#cccc;
	margin-left: 22.5rem;
	margin-top: -1.5rem;
	z-index: 5;

}

.admira{
	color:#DF7401;
}
}  

@media only screen and (min-width: 320px) and (max-width: 767px) {  
  
  .logo{
  
	position: absolute;	
	width: 25rem;
	margin-top: 1rem;
	margin-right: 0.3rem;
	z-index: 1;


}

.logo__slogan{
	font-family: 'Poiret One', cursive;
	position: relative;
	text-align: center;
	font-size: 1.3rem;
	color:#cccc;
	margin-left: 1rem;
	margin-right: 1rem;
	margin-top: 16rem;
	z-index: 5;

}

.admira{
	color:#DF7401;
}
}

