body{
	margin: 0;
	padding: 0;
	background-color: #5F4B8B ;
}


@media only screen and (min-width: 1024px) { 

/*NAVBAR*/


.navbar{
	
	position: fixed;
	background-color: #674caa;
	width: 102%;
	max-height: 3rem;
	z-index: 1;
	

}

.navbar__logo--tamaño{
	
	width: 3.5rem;
	margin-left: 0.5rem;

}

.navbar__elementos--opcion{
	
	font-family: 'Poiret One', cursive;
	list-style: none;
	float: left;
	margin: 1rem 0.7rem 0 0.7rem;
	
		
} 

.navbar__elementos--color-link{
		
	color: #D0D3D4  ;

}

/*/NAVBAR*/


/*CONTENIDO*/

.contenido{
	
	position: absolute;
	
}

.contenido__parrafo	{
	
	font-family: 'Poiret One', cursive;
	color:#D0D3D4;
	font-size: 2rem;
	text-align: center;
	top	: 5rem;
	left: 0.5rem;

}

.contenido__parrafo--span{
	color:#DF7401;

}

.contenido__logo--fondo{
	width: 20rem;
	top: 2rem;
	left: calc(50% - 9rem);
	

}

/*/CONTENIDO*/


/*FOOTER*/

.footer{
	background-color: #151515;
	position: fixed;
	bottom: 0;
	width: 102%;
	height: 2.5rem;
  
}

.footer__contacto--font{

	
	margin-bottom: 0.2rem;
	text-align:center;
	font-size: 1.3rem;

}

.footer__rrss{
	
	display: block;
	text-align:center;
	margin-left: 1.33rem;

}


.footer__rrss--tamano{
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	margin-right: 2rem;
	width: 1.5rem;


}

} 
/*/FOTTER*/




@media only screen and (min-width: 768px) and (max-width: 1023px) {  

	
.navbar{

	position: fixed;
	background-color: #674caa;
	width: 102%;
	max-height: 3rem;
	z-index: 1;
	

}

.navbar__logo--tamaño{
	
	width: 3.5rem;
	margin-left: 0.5rem;

}

.navbar__elementos--opcion{
	font-family: 'Poiret One', cursive;
	list-style: none;
	float: left;
	margin: 1rem 0.7rem 0 0.7rem;
	
		
} 

.navbar__elementos--color-link{
		
	color: #D0D3D4  ;

}

/*/NAVBAR*/


/*CONTENIDO*/

.contenido{
	position: absolute;
}

.contenido__parrafo	{
	
	font-family: 'Poiret One', cursive;
	color:#D0D3D4;
	font-size: 2rem;
	text-align: center;
	top	: 5rem;
	left: 0.5rem;


	
}


.contenido__parrafo--span{

	color:#DF7401;
}

.contenido__logo--fondo{
	width: 20rem;
	top: 2rem;
	left: calc(50% - 9rem);
}
/*/CONTENIDO*/



/*FOOTER*/

.footer{
	background-color: #151515;
	position: fixed;
	bottom: 0;
	width: 102%;
	height: 2.5rem;
  
}

.footer__contacto--font{

	
	margin-bottom: 0.2rem;
	text-align:center;
	font-size: 1.3rem;

}

.footer__rrss{
	display: block;
	text-align:center;
	margin-left: 1.3em;

}


.footer__rrss--tamano{
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	margin-right: 2rem;
	width: 1.5rem;


}

}
/*/FOTTER*/

	

@media only screen and (min-width: 320px) and (max-width: 767px) {  


/*NAVBAR*/

.navbar{
	position: fixed;
	background-color: #674caa;
	width: 104.2%;
	max-height: 3rem;
	z-index: 1;
	

}

.navbar__logo--tamaño{
	
	width: 3.3rem;
	/*margin-left: 0.5rem;*/

}
.navbar__elementos{
	margin:0;
	padding: 0;
}

.navbar__elementos--opcion{
	font-family: 'Poiret One', cursive;
	list-style: none;
	float: left;
	margin-left: 0.3rem;
	margin-right: 0.48rem;	
		
} 

.navbar__elementos--color-link{
		
	color: #D0D3D4  ;

}

/*/NAVBAR*/


/*CONTENIDO*/

.comtenido{

	position: absolute;
}
.contenido__parrafo	{
	
	font-family: 'Poiret One', cursive;
	color:#D0D3D4;
	font-size: 1.5rem;
	text-align: center;
	top	: 4rem;
	left: 0.5rem;
	padding-right: 2rem;

}


.contenido__parrafo--span{

	color:#DF7401;
}

.contenido__logo--fondo{
	width: 10rem;
	top: 1rem;
	left: calc(50% - 6rem);
}

/*/CONTENIDO*/

.contenido__parrafo{
	bottom: 3rem;

}

.logo-fondo{
	top: -2.2rem;
	width: 8rem;
	
	
}

/*FOOTER*/

.footer{
	background-color: #151515;
	position: fixed;
	bottom: 0;
	width: 104.2%;
	height: 2.5rem;
  
}

.footer__contacto--font{

	
	margin-bottom: 0.2rem;
	text-align:center;
	font-size: 1.3rem;

}

.footer__rrss{
	display: block;
	text-align: center;
	margin-left: 1.4em;

}


.footer__rrss--tamano{
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	margin-right: 2rem;
	width: 1.5rem;


}

}

/*/FOTTER*/	