body{
	margin: 0;
	padding: 0;
	background-color: #5F4B8B;

}

@media only screen and (min-width: 1024px) {  

/*NAVBAR*/

.navbar{
	
	position: fixed;
	background-color: #674caa;
	width: 102%;
	max-height: 3rem;
	z-index: 1;
	
}

.navbar__logo--tamaño{
	
	width: 3.5rem;
	margin-left: 0.5rem;

}

.navbar__elementos--opcion{
	
	font-family: 'Poiret One', cursive;
	list-style: none;
	float: left;
	margin: 1rem 0.7rem 0 0.7rem;
	
} 

.navbar__elementos--color-link{
		
	color: #D0D3D4  ;

}
/*/NAVBAR*/

/*CONTENIDO*/

.header{
	
	position: absolute;
	top: 4rem;

}

.header__titulo{

	background-color: #FE2E2E;
	width: 7.65rem;
	height: 5.8rem;
	font-family: 'Poiret One', cursive;
	font-size: 6rem;

}

.header__descripcion{
	position: relative;
	font-family: 'Poiret One', cursive;
	float: left;
	padding-right: 40rem;
	color:#D0D3D4;
	left: 11.9rem;
	top: -0.85rem;

}

.galeria{
	
	top: 14.5rem;
}

.galeria__imagen{

	position: relative;
	float:left; 
	margin: 0.5rem;

}

.galeria__imagen--formato--a{
	
	background-color: red;
	width: 15rem;
	height: 23rem;

}


.galeria__imagen--formato--b{

	background-color: green;
	width:17rem;
	height: 11rem;	


}

.galeria__imagen--formato--c{
	
	background-color: pink;
	width: 15rem;
	height: 23rem;	
	margin-top: -12rem;

}

/*/CONTENIDO*/

/*FOOTER*/

.footer{

	background-color: #151515;
	position: fixed;
	bottom: 0;
	width: 102%;
	height: 3rem;
  
}

.footer__contacto--font{

	margin-bottom: 0.2rem;
	text-align:center;
	font-size: 1.3rem;

}

.footer__rrss{
	
	display: block;
	text-align: center;
	margin-left: 1.4em;

}

.footer__rrss--tamano{

	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	margin-right: 2rem;
	width: 1.5rem;

}
}
/*/FOOTER*/

@media only screen and (min-width: 768px) and (max-width: 1023px) {  

.navbar{
	
	position: fixed;
	background-color: #674caa;
	width: 102%;
	max-height: 3rem;
	z-index: 1;
	
}

.navbar__logo--tamaño{
	
	width: 3.3rem;
	
}

.navbar__elementos{
	
	margin:0;
	padding: 0;

}

.navbar__elementos--opcion{
	
	font-family: 'Poiret One', cursive;
	list-style: none;
	float: left;
	margin-left: 0.3rem;
	margin-right: 0.48rem;	
		
} 

.navbar__elementos--color-link{
		
	color: #D0D3D4  ;

}
/*/NAVBAR*/

/*CONTENIDO*/

.header{
	
	position: absolute;
	top: 4rem;

}

.header__titulo{

	background-color: #FE2E2E;
	width: 7.65rem;
	height: 5.8rem;
	font-family: 'Poiret One', cursive;
	font-size: 6rem;

}

.header__descripcion{
	position: relative;
	font-family: 'Poiret One', cursive;
	float: left;
	padding-right: 12rem;
	color:#D0D3D4;
	left: 11.9rem;
	top: -0.85rem;

}

.galeria{
	
	top: 14.5rem;
}

.galeria__imagen{

	position: relative;
	float:left; 
	margin: 0.5rem;

}

.galeria__imagen--formato--a{
	
	background-color: red;
	width: 11rem;
	height: 23rem;

}


.galeria__imagen--formato--b{

	background-color: green;
	width:10rem;
	height: 11rem;	


}

.galeria__imagen--formato--c{
	
	background-color: pink;
	width: 11rem;
	height: 23rem;	
	margin-top: -24rem;
	margin-left: 34rem;

}
/*/CONTENIDO*/

/*FOOTER*/

.footer{

	background-color: #151515;
	position: fixed;
	bottom: 0;
	width: 102%;
	height: 2.5rem;
  
}

.footer__contacto--font{

	margin-bottom: 0.2rem;
	text-align:center;
	font-size: 1.3rem;

}

.footer__rrss{
	
	display: block;
	text-align: center;
	margin-left: 1.4em;

}

.footer__rrss--tamano{
	
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	margin-right: 2rem;
	width: 1.5rem;
	
}
}
/*FOOTER*/

@media only screen and (min-width: 320px) and (max-width: 767px) {  

/*NAVBAR*/

.navbar{
	
	position: fixed;
	background-color: #674caa;
	width: 104.5%;
	max-height: 3rem;
	z-index: 1;

}

.navbar__logo--tamaño{
	
	width: 3.3rem;

}

.navbar__elementos{
	
	margin:0;
	padding: 0;

}

.navbar__elementos--opcion{
	
	font-family: 'Poiret One', cursive;
	list-style: none;
	float: left;
	margin-left: 0.3rem;
	margin-right: 0.48rem;	
		
} 

.navbar__elementos--color-link{
		
	color: #D0D3D4  ;

}
/*/NAVBAR*/

/*CONTENIDO*/
.header{
	
	position: absolute;
	top: 4rem;

}

.header__titulo{

	background-color: #FE2E2E;
	width: 7.65rem;
	height: 5.8rem;
	font-family: 'Poiret One', cursive;
	font-size: 6rem;

}

.header__descripcion{
	position: relative;
	font-family: 'Poiret One', cursive;
	float: right;
	padding-right: 3rem;
	color:#D0D3D4;
	left: 3.5rem;
	top: -0.85rem;

}

.galeria{

	left: 1.5rem;
	top: 17rem;
}

.galeria__imagen{

	position: relative;
	float:left; 
	margin: 0.2rem;

}

.galeria__imagen--formato--a{
	
	background-color: red;
	width: 10rem;
	height: 20rem;

}


.galeria__imagen--formato--b{

	background-color: green;
	width:9rem;
	height: 4.7rem;	


}

.galeria__imagen--formato--c{
	
	background-color: pink;
	width: 19.5rem;
	height: 23rem;
	margin-bottom: 3rem;
/*	margin-top: -54rem;*/
	/*margin-left: 34rem;*/

}
/*/CONTENIDO*/

/*FOOTER*/

.footer{
	
	background-color: #151515;
	position: fixed;
	bottom: 0;
	width: 104.5%;
	height: 2.5rem;
  
}

.footer__contacto--font{

	margin-bottom: 0.2rem;
	text-align:center;
	font-size: 1.3rem;

}

.footer__rrss{

	display: block;
	text-align: center;
	margin-left: 1.4em;

}


.footer__rrss--tamano{
	
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	margin-right: 2rem;
	width: 1.5rem;

}
}
/*/FOOTER*/