body{
	margin: 0;
	padding: 0;
	background-color: #5F4B8B ;
}


@media only screen and (min-width: 1024px) { 

/*NAVBAR*/

.navbar{
	
	position: fixed;
	background-color: #674caa;
	width: 102%;
	max-height: 3rem;
	z-index: 1;
	

}

.navbar__logo--tamaño{
	
	width: 3.5rem;
	margin-left: 0.5rem;

}

.navbar__elementos--opcion{
	
	font-family: 'Poiret One', cursive;
	list-style: none;
	float: left;
	margin: 1rem 0.7rem 0 0.7rem;
	
		
} 

.navbar__elementos--color-link{
		
	color: #D0D3D4  ;

}

/*/NAVBAR*/


/*CONTENIDO*/




.seccion{
	
	position: absolute;
	top: 4rem;
	font-family: 'Poiret One', cursive;
}

.seccion__titulo{

	background-color: #FE2E2E;
	width: 7.65rem;
	height: 5.8rem;
	
	

}

.seccion__titulo--fuente{
	
	font-size: 6rem;
	margin-left: 1.2rem;

}

.seccion__intro--parrafo{
	
	position: relative;
	float: left;
	color:#D0D3D4;
	left: 8rem;
	top: -0.85rem;
	font-size: 1.3rem;

}

.perfil__imagen{
	
	width: 40vh;
	display: block;
	float: right;
	margin-top: -15rem;
}
.llamado{
	margin-top: 35rem;
	font-size: 1.5rem;
	margin-left: 8.5rem;
}

.habilidades{
	margin-left: 6rem;
}

.habilidades__logo{
	/*margin-top: 34.7rem;*/
	float: left;
	width: 4rem;
	margin-left:2.5rem;

}
/*/CONTENIDO*/


/*FOOTER*/

.footer{
	
	background-color: #151515;
	position: fixed;
	bottom: 0;
	width: 102%;
	height: 2.5rem;
  
}

.footer__contacto--font{

	margin-bottom: 0.2rem;
	text-align:center;
	font-size: 1.3rem;

}

.footer__rrss{
	
	display: block;
	text-align:center;
	margin-left: 1.33rem;

}


.footer__rrss--tamano{
	
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	margin-right: 2rem;
	width: 1.5rem;


}
}
/*/FOTTER*/ 

@media only screen and (min-width: 768px) and (max-width: 1023px) {  

	
.navbar{

	position: fixed;
	background-color: #674caa;
	width: 102%;
	max-height: 3rem;
	z-index: 1;
	

}

.navbar__logo--tamaño{
	
	width: 3.5rem;
	margin-left: 0.5rem;

}

.navbar__elementos--opcion{
	
	font-family: 'Poiret One', cursive;
	list-style: none;
	float: left;
	margin: 1rem 0.7rem 0 0.7rem;
			
} 

.navbar__elementos--color-link{
		
	color: #D0D3D4  ;

}

/*/NAVBAR*/


/*CONTENIDO*/


.seccion{
	
	position: absolute;
	top: 4rem;
	font-family: 'Poiret One', cursive;
}

.seccion__titulo{

	background-color: #FE2E2E;
	width: 7.65rem;
	height: 5.8rem;
	
	

}

.seccion__titulo--fuente{
	
	font-size: 6rem;
	margin-left: 1.2rem;

}

.seccion__titulo--parrafo{
	
	position: relative;
	float: left;
	color:#D0D3D4;
	left: 8rem;
	top: -0.85rem;
	font-size: 1.3rem;

}

.perfil__imagen{
	
	width: 40vh;
	display: block;
	float: right;
	margin-top: -15rem;
}
.llamado{
	margin-top: 35rem;
	font-size: 1.5rem;
	margin-left: 8.5rem;
}

.habilidades{
	margin-left: 6rem;
}

.habilidades__logo{
	/*margin-top: 34.7rem;*/
	float: left;
	width: 4rem;
	margin-left:2.5rem;

}
/*/CONTENIDO*/



/*FOOTER*/

.footer{
	
	background-color: #151515;
	position: fixed;
	bottom: 0;
	width: 102%;
	height: 2.5rem;
  
}

.footer__contacto--font{

	margin-bottom: 0.2rem;
	text-align:center;
	font-size: 1.3rem;

}

.footer__rrss{
	
	display: block;
	text-align:center;
	margin-left: 1.3em;

}


.footer__rrss--tamano{
	
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	margin-right: 2rem;
	width: 1.5rem;

}
}
/*/FOTTER*/

@media only screen and (min-width: 320px) and (max-width: 767px) {  


/*NAVBAR*/

.navbar{
	
	position: fixed;
	background-color: #674caa;
	width: 104.2%;
	max-height: 3rem;
	z-index: 1;
	
}

.navbar__logo--tamaño{
	
	width: 3.3rem;

}

.navbar__elementos{
	
	margin:0;
	padding: 0;
}

.navbar__elementos--opcion{
	
	font-family: 'Poiret One', cursive;
	list-style: none;
	float: left;
	margin-left: 0.3rem;
	margin-right: 0.48rem;	
		
} 

.navbar__elementos--color-link{
		
	color: #D0D3D4  ;

}

/*/NAVBAR*/


/*CONTENIDO*/


.seccion{
	
	position: absolute;
	top: 4rem;
	font-family: 'Poiret One', cursive;
}

.seccion__titulo{

	background-color: #FE2E2E;
	width: 7.65rem;
	height: 5.8rem;
	
	

}

.seccion__titulo--fuente{
	
	font-size: 6rem;
	margin-left: 1.2rem;

}

.header__intro--parrafo{
	
	position: relative;
	float: left;
	color:#D0D3D4;
	top: 1rem;
	font-size: 1.3rem;
	text-align: justify;

}

.perfil__imagen{
	
	width: 40vh;
	display: block;
	margin-top: 1rem;
	margin-left: 4.5rem;
}
.llamado{
	margin-top: 50rem;
	font-size: 1.3rem;
	margin-left: 0.3rem;
}


.habilidades__logo{
		
	float: left;
	width: 3rem;
	

}
/*/CONTENIDO*/

/*FOOTER*/

.footer{
	
	background-color: #151515;
	position: fixed;
	bottom: 0;
	width: 104.2%;
	height: 2.5rem;
  
}

.footer__contacto--font{

	margin-bottom: 0.2rem;
	text-align:center;
	font-size: 1.3rem;

}

.footer__rrss{
	
	display: block;
	text-align: center;
	margin-left: 1.4em;

}


.footer__rrss--tamano{
	
	margin-top: 0.3rem;
	margin-bottom: 0.3rem;
	margin-right: 2rem;
	width: 1.5rem;


}
}
/*/FOTTER*/	
