body{
	margin: 0;
	padding: 0;
	background-color: #5F4B8B ;
}

.logo{
	width: 15rem;
	display: block;
	margin: 0 auto;
	margin-top: 20%;
	z-index: 1;
	
}
/*hacer jquery para diferentes vistas, 
cosa que el texto se vea de manera optima ya sea para desktop o mobile vistas*/
.slogan{
	text-align: left;
	float: right;
	
	margin-top: -1.4rem;
	margin-left: 1rem;
	margin-right: 1rem;
	padding-left: 54%;
	color:#dddddd;
	/*margin-left: 1rem;*/
	/*margin-left: 44rem;*/
}

.navbar{
	background-color: #674caa;
	width: 120%;
	max-height: 3rem;
	position: fixed;



}

.navbar_opcion{
	
	color: 	white;
	list-style: none;
	float: left;
	margin-right: 0.5rem;
display: inline-block;
	
}

.elementos{
	margin-left: 0%;
}
.principal{

	position: relative;
	background-color: red;
	border: solid 2px white;
	
}
@media  { screen min 1024 en adelante
			tablet min 768 max 1023
			movil  min 320  max 767
	
}
#encabezados{
 	text-align: center;
 	margin-top: -38%;

}

.segundo{
	
	/*background-color: blue;*/
	

}

.tercero{
	padding: 0;
	margin:0;

	

	float: left;
background-color: red;
border: solid 2px white;
box-sizing: border-box;



}

