body{
	margin: 0;
	padding: 0;
	background-color: #5F4B8B ;
}

.row2 {
	/*text-align: center;*/
}

.logo{
	width: 15rem;
	display: block;
	margin: 0 auto;
	margin-top: 20%;
	z-index: 1;
	
}
/*hacer jquery para diferentes vistas, 
cosa que el texto se vea de manera optima ya sea para desktop o mobile vistas*/
.slogan{
	text-align: left;
	float: right;
	
	margin-top: -1.4rem;
	margin-left: 1rem;
	margin-right: 1rem;
	padding-left: 54%;
	color:#dddddd;
	/*margin-left: 1rem;*/
	/*margin-left: 44rem;*/
}

.principal{
	position: absolute;
	float: left;
}

.segundo{
	/*position: relative;*/
	float: right;
	background-color: blue;
	border: solid 10px black;
	padding: 10px;
}

.tercero{
	display: inline-block;
	float: right;

}

